# =====================
# Datos (NO versionar)
# =====================
data/raw/**
data/processed/**
data/vector/**

# PERMITIR archivos marcador
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/vector/.gitkeep

# =====================
# Cache
# =====================
cache/**
__pycache__/
.ipynb_checkpoints/

# =====================
# Outputs generados
# =====================
outputs/**

# Permitir estructura de carpetas
!outputs/figures/
!outputs/maps/
!outputs/reports/

# Permitir archivos marcador
!outputs/figures/.gitkeep
!outputs/maps/.gitkeep
!outputs/reports/.gitkeep

# =====================
# Excepciones para utils
# =====================
!app/utils/**

# =====================
# Permitir GIS en utils
# =====================
!app/utils/**/*.tif
!app/utils/**/*.tiff
!app/utils/**/*.gpkg
!app/utils/**/*.shp
!app/utils/**/*.geojson

# =====================
# GIS formatos pesados
# =====================
*.tif
*.tiff
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.geojson
*.aux.xml
*.ovr

# =====================
# Python / entorno
# =====================
.env
.venv/
*.pyc
