# =====================
# Datos (NO versionar)
# =====================
data/raw/**
data/processed/**
data/vector/**

# PERMITIR archivos marcador
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/vector/.gitkeep

# =====================
# Cache
# =====================
cache/**
__pycache__/
.ipynb_checkpoints/

# =====================
# Outputs generados
# =====================
outputs/**
!outputs/.gitkeep

# =====================
# GIS formatos pesados
# =====================
*.tif
*.tiff
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.geojson
*.aux.xml
*.ovr

# =====================
# Python / entorno
# =====================
.env
.venv/
*.pyc
